
<!-- Create a menu from the "Fixed Pages" and "Menu Pages" (identified by "" and "p",
  respectively) sections in Netlify CMS -->
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/a">Articles</a></li>
    {{range (where .Site.RegularPages.ByTitle "Section" "p" )}}
    <li><a href="{{.RelPermalink}}">{{- .Title -}}</a></li>
    {{end}}
    {{range (where .Site.RegularPages.ByTitle "Section" "" )}}
    <li><a href="{{.RelPermalink}}">{{- .Title -}}</a></li>
    {{end}}
  </ul>
</nav>
